@charset "utf-8";
/* CSS Document */
/*
body {
font-family: Helvetica, sans-serif;
padding: 5%;
text-align: center;
font-size: 50;
}
*/
/* Styling the area of the slides */
#slideshow {
overflow: hidden;
height: 510px;
width: 600px;
margin: 0 auto;
}

/* Style each of the sides
with a fixed width and height */
.slide {
float: left;
height: 510px;
width: 600px;
}

/* Add animation to the slides */
.slide-wrapper {

/* Calculate the total width on the
basis of number of slides */
width: calc(600px * 10);

/* Specify the animation with the
duration and speed */
animation: slide 30s ease infinite;
}

/* Set the background color
of each of the slides */
/*
.slide:nth-child(1) {
background: green;
}

.slide:nth-child(2) {
background: pink;
}

.slide:nth-child(3) {
background: red;
}

.slide:nth-child(4) {
background: yellow;
}
*/
/* Define the animation
for the slideshow */
@keyframes slide {

/* Calculate the margin-left for
each of the slides */
10% {
	margin-left: 0px;
}

20% {
	margin-left: calc(-600px);
}

30% {
	margin-left: calc(-600px * 2);
}

40% {
	margin-left: calc(-600px * 3);
}
	
50% {
	margin-left: calc(-600px * 4);
}
	
60% {
	margin-left: calc(-600px * 5);
}
	
70% {
	margin-left: calc(-600px * 6);
}
	
80% {
	margin-left: calc(-600px * 7);
}
	
90% {
	margin-left: calc(-600px * 8);
}
}
